.header
  display block
  width 100%
  height 35vh
  color: #ffffff

.navbar_panel
  min-width 300px
  text-align left
  display table-cell
  vertical-align middle
//-----------------------
.navbar_inner
  padding-left 15px
  padding-right 15px
  margin 0 auto

.navbar_nav_wrap
  width 100%
  text-align right
  display table-cell
  vertical-align middle

.navbar_nav
  margin-left -32px

.navbar_nav>li
  display inline-block
  margin-left 32px
  padding 20px 0 20px

.navbar_nav>li>a
  display block
  font-size 16px
  color #fefeff
  line-height 19px
  text-transform uppercase

.navbar_nav>li.active>a
  color #04c4d9

.box
  display inline-block
  z-index 2
  text-decoration  none
  color #fff

.box_left
  display table-cell
  padding-right 5px


.brand_logo
  display inline-block
  height 72px
  width 72px
  line-height 72px

  background-color #04c4d9
  border-color #04c4d9
  border-radius 50%

  vertical-align top
  text-align center

.brand_logo>img
  position absolute
  top 50%
  left 50%
  transform: translate(-50%, -50%)

.box_body
  display table-cell
  vertical-align middle
  text-align left

.brand_name
  font-size 50px
  margin-left 3px
  line-height 50px

.text_primary
  color #04c4d9

.brand_slogan
  margin-left 6px
  text-transform uppercase
  color #8c949f
  font-size 12px
  line-height 12px