extends layout/main.pug

include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/inner/inner.pug

block title
    title Главная страница

block pagecontent
    +header()

    +inner()

    +footer()