doctype html
html(lang='en')
    head
        meta(charset="UTF8")
        link(rel="stylesheet" href="../css/vendor.min.css")
        link(rel="styleSheet" href="../css/main.css")

        block title
            title Тестовый проект

    body
        block pagecontent
            h3 content

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
script(src='src="../js/vendor.min.js"')
script(src='src="../js/main.js"')
