body
html
  margin 0
  padding 0
  height 100%
  width 100%
  min-width 320px
  overflow hidden
  font-family Montserrat, sans-serif
  font-size 14px
  line-height 24px
  color #545b65
  background #fff
  font-weight: 400;

.header
  background url("../img/bg-texture01.jpg") repeat left

.relative
  position relative

a
  text-decoration none

ul
  list-style none

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 1200px)
  .header
    padding-top 0.97rem
    