@font-face {
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 400
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.woff2) format('woff2')
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 700
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(Montserrat-Bold.woff2) format('woff2')
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

mainColor = red
black = #222
gray = #ddd